.card{
    border-radius: 5px;
    background-color: lightgrey
}

.saved-list{
    border-radius: 5px;
    background-color: rgb(130, 215, 248)
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 2px;
    margin-left: 5px
}